@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
///////////////////////////////////////////////////////////////
///Glitch Effect

@keyframes is-off {
  0%,
  50% {
    opacity: 1;
  }
  56%,
  57% {
    opacity: 0;
  }
  58% {
    opacity: 1;
  }
  71% {
    transform: scaleY(1) skewX(0deg);
  }
  72% {
    transform: scaleY(3) skewX(-60deg);
  }
  73% {
    transform: scaleY(1) skewX(0deg);
  }
  80% {
    opacity: 1;
  }
  81%,
  84% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  91% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
  92% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
    color: green;
  }
  93% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
    color: #fff;
  }
}
@keyframes c1 {
  0% {
    clip: rect(28px, 9999px, 29px, 0);
  }
  5% {
    clip: rect(71px, 9999px, 13px, 0);
  }
  10% {
    clip: rect(6px, 9999px, 87px, 0);
  }
  15% {
    clip: rect(66px, 9999px, 23px, 0);
  }
  20% {
    clip: rect(34px, 9999px, 61px, 0);
  }
  25% {
    clip: rect(9px, 9999px, 19px, 0);
  }
  30% {
    clip: rect(19px, 9999px, 44px, 0);
  }
  35% {
    clip: rect(3px, 9999px, 82px, 0);
  }
  40% {
    clip: rect(91px, 9999px, 39px, 0);
  }
  45% {
    clip: rect(99px, 9999px, 12px, 0);
  }
  50% {
    clip: rect(87px, 9999px, 54px, 0);
  }
  55% {
    clip: rect(17px, 9999px, 70px, 0);
  }
  60% {
    clip: rect(69px, 9999px, 70px, 0);
  }
  65% {
    clip: rect(25px, 9999px, 39px, 0);
  }
  70% {
    clip: rect(98px, 9999px, 81px, 0);
  }
  75% {
    clip: rect(5px, 9999px, 82px, 0);
  }
  80% {
    clip: rect(27px, 9999px, 92px, 0);
  }
  85% {
    clip: rect(94px, 9999px, 82px, 0);
  }
  90% {
    clip: rect(4px, 9999px, 7px, 0);
  }
  95% {
    clip: rect(91px, 9999px, 93px, 0);
  }
  100% {
    clip: rect(80px, 9999px, 13px, 0);
  }
}
@keyframes c2 {
  0% {
    clip: rect(12px, 9999px, 25px, 0);
  }
  5% {
    clip: rect(40px, 9999px, 23px, 0);
  }
  10% {
    clip: rect(28px, 9999px, 22px, 0);
  }
  15% {
    clip: rect(16px, 9999px, 10px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 55px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 32px, 0);
  }
  30% {
    clip: rect(50px, 9999px, 11px, 0);
  }
  35% {
    clip: rect(59px, 9999px, 88px, 0);
  }
  40% {
    clip: rect(75px, 9999px, 10px, 0);
  }
  45% {
    clip: rect(1px, 9999px, 84px, 0);
  }
  50% {
    clip: rect(80px, 9999px, 29px, 0);
  }
  55% {
    clip: rect(82px, 9999px, 40px, 0);
  }
  60% {
    clip: rect(9px, 9999px, 47px, 0);
  }
  65% {
    clip: rect(81px, 9999px, 31px, 0);
  }
  70% {
    clip: rect(63px, 9999px, 71px, 0);
  }
  75% {
    clip: rect(69px, 9999px, 77px, 0);
  }
  80% {
    clip: rect(28px, 9999px, 51px, 0);
  }
  85% {
    clip: rect(10px, 9999px, 90px, 0);
  }
  90% {
    clip: rect(14px, 9999px, 13px, 0);
  }
  95% {
    clip: rect(20px, 9999px, 43px, 0);
  }
  100% {
    clip: rect(31px, 9999px, 85px, 0);
  }
  23% {
    transform: scaleX(0.8);
  }
}
@keyframes clock-bag {
  0% {
    transform: translate(5px, 3px);
  }
  2% {
    transform: translate(1px, 3px);
  }
  4% {
    transform: translate(5px, 3px);
  }
  6% {
    transform: translate(3px, 1px);
  }
  8% {
    transform: translate(2px, 3px);
  }
  10% {
    transform: translate(5px, 5px);
  }
  12% {
    transform: translate(1px, 3px);
  }
  14% {
    transform: translate(4px, 5px);
  }
  16% {
    transform: translate(5px, 5px);
  }
  18% {
    transform: translate(2px, 4px);
  }
  20% {
    transform: translate(5px, 5px);
  }
  22% {
    transform: translate(5px, 1px);
  }
  24% {
    transform: translate(5px, 2px);
  }
  26% {
    transform: translate(2px, 1px);
  }
  28% {
    transform: translate(2px, 3px);
  }
  30% {
    transform: translate(3px, 3px);
  }
  32% {
    transform: translate(4px, 1px);
  }
  34% {
    transform: translate(5px, 4px);
  }
  36% {
    transform: translate(2px, 5px);
  }
  38%,
  40% {
    transform: translate(5px, 1px);
  }
  42% {
    transform: translate(3px, 2px);
  }
  44% {
    transform: translate(5px, 2px);
  }
  46.000000000000014% {
    transform: translate(2px, 5px);
  }
  48% {
    transform: translate(3px, 1px);
  }
  50% {
    transform: translate(2px, 5px);
  }
  52% {
    transform: translate(1px, 4px);
  }
  54% {
    transform: translate(4px, 2px);
  }
  56.000000000000014% {
    transform: translate(5px, 3px);
  }
  58% {
    transform: translate(1px, 4px);
  }
  60% {
    transform: translate(3px, 4px);
  }
  62% {
    transform: translate(4px, 2px);
  }
  64% {
    transform: translate(1px, 3px);
  }
  66.00000000000001% {
    transform: translate(5px, 4px);
  }
  68% {
    transform: translate(2px, 2px);
  }
  70%,
  72% {
    transform: translate(5px, 5px);
  }
  74% {
    transform: translate(1px, 2px);
  }
  76% {
    transform: translate(4px, 3px);
  }
  78% {
    transform: translate(5px, 4px);
  }
  80% {
    transform: translate(1px, 5px);
  }
  82% {
    transform: translate(4px, 3px);
  }
  84% {
    transform: translate(2px, 1px);
  }
  86% {
    transform: translate(3px, 3px);
  }
  88% {
    transform: translate(3px, 4px);
  }
  90% {
    transform: translate(5px, 4px);
  }
  92.00000000000001% {
    transform: translate(1px, 5px);
  }
  93.99999999999999% {
    transform: translate(5px, 2px);
  }
  96% {
    transform: translate(2px, 1px);
  }
  98% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(4px, 2px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes tr-bag {
  0% {
    transform: translate(4px, 2px);
  }
  2% {
    transform: translate(3px, 3px);
  }
  4% {
    transform: translate(2px, 5px);
  }
  6% {
    transform: translate(1px, 4px);
  }
  8% {
    transform: translate(4px, 5px);
  }
  10% {
    transform: translate(2px, 3px);
  }
  12% {
    transform: translate(5px, 5px);
  }
  14% {
    transform: translate(4px, 4px);
  }
  16% {
    transform: translate(2px, 3px);
  }
  18% {
    transform: translate(4px, 3px);
  }
  20%,
  22% {
    transform: translate(5px, 1px);
  }
  24% {
    transform: translate(1px, 5px);
  }
  26% {
    transform: translate(1px, 2px);
  }
  28% {
    transform: translate(1px, 3px);
  }
  30% {
    transform: translate(1px, 1px);
  }
  32%,
  34% {
    transform: translate(4px, 5px);
  }
  36% {
    transform: translate(4px, 1px);
  }
  38% {
    transform: translate(2px, 5px);
  }
  40% {
    transform: translate(1px, 3px);
  }
  42% {
    transform: translate(2px, 5px);
  }
  44% {
    transform: translate(1px, 2px);
  }
  46.000000000000014% {
    transform: translate(3px, 4px);
  }
  48% {
    transform: translate(4px, 4px);
  }
  50% {
    transform: translate(2px, 5px);
  }
  52% {
    transform: translate(1px, 3px);
  }
  54% {
    transform: translate(3px, 1px);
  }
  56.000000000000014% {
    transform: translate(1px, 2px);
  }
  58% {
    transform: translate(5px, 1px);
  }
  60% {
    transform: translate(4px, 4px);
  }
  62% {
    transform: translate(2px, 4px);
  }
  64% {
    transform: translate(4px, 4px);
  }
  66.00000000000001%,
  68% {
    transform: translate(1px, 2px);
  }
  70% {
    transform: translate(1px, 3px);
  }
  72% {
    transform: translate(5px, 1px);
  }
  74% {
    transform: translate(3px, 4px);
  }
  76% {
    transform: translate(2px, 1px);
  }
  78% {
    transform: translate(5px, 2px);
  }
  80% {
    transform: translate(5px, 1px);
  }
  82% {
    transform: translate(1px, 3px);
  }
  84% {
    transform: translate(2px, 2px);
  }
  86% {
    transform: translate(3px, 1px);
  }
  88% {
    transform: translate(3px, 4px);
  }
  90% {
    transform: translate(2px, 3px);
  }
  92.00000000000001% {
    transform: translate(3px, 4px);
  }
  93.99999999999999%,
  96%,
  98% {
    transform: translate(5px, 3px);
  }
  100% {
    transform: translate(1px, 2px);
  }
  1% {
    transform: scaleY(1) skewX(0deg);
  }
  1.5% {
    transform: scaleY(3) skewX(-60deg);
  }
  2% {
    transform: scaleY(1) skewX(0deg);
  }
  51% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
  52% {
    transform: scaleX(1.5) scaleY(0.2) skewX(80deg);
  }
  53% {
    transform: scaleX(1) scaleY(1) skewX(0deg);
  }
}
@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 -32px;
  }
}
@keyframes noise-anim {
  0% {
    clip: rect(97px, 9999px, 76px, 0);
  }
  5% {
    clip: rect(93px, 9999px, 87px, 0);
  }
  10% {
    clip: rect(48px, 9999px, 19px, 0);
  }
  15% {
    clip: rect(5px, 9999px, 77px, 0);
  }
  20% {
    clip: rect(1px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(71px, 9999px, 17px, 0);
  }
  30% {
    clip: rect(66px, 9999px, 19px, 0);
  }
  35% {
    clip: rect(86px, 9999px, 60px, 0);
  }
  40% {
    clip: rect(54px, 9999px, 31px, 0);
  }
  45% {
    clip: rect(88px, 9999px, 16px, 0);
  }
  50% {
    clip: rect(88px, 9999px, 92px, 0);
  }
  55% {
    clip: rect(38px, 9999px, 93px, 0);
  }
  60% {
    clip: rect(19px, 9999px, 98px, 0);
  }
  65% {
    clip: rect(84px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(97px, 9999px, 12px, 0);
  }
  75% {
    clip: rect(35px, 9999px, 54px, 0);
  }
  80% {
    clip: rect(10px, 9999px, 13px, 0);
  }
  85% {
    clip: rect(95px, 9999px, 14px, 0);
  }
  90% {
    clip: rect(63px, 9999px, 2px, 0);
  }
  95% {
    clip: rect(68px, 9999px, 68px, 0);
  }
  100% {
    clip: rect(77px, 9999px, 80px, 0);
  }
}

////////////////////////////////////main
@keyframes logo-glitch {
  0% {
    transform: skew(0deg, 0deg);
  }
  99.7% {
    transform: skew(0deg, 0deg);
  }
  99.8% {
    transform: skew(-54deg, 30deg);
  }
  99.9% {
    transform: skew(-54deg, -30deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
