.site-footer {
  bottom: 0;
  bottom: 0;
  padding: 22px 65px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.copyright {
  width: 250px;
  height: 40px;
  display: inline-block;
  text-align: right;
  font-size: 0.75rem;
}
